@media screen and (min-width: 1000px) {
  .header {
    width: 80vw;
    grid-template-rows: repeat(2, 1fr);
  }
  .nav {
    width: 50%;
    justify-content: start;
    grid-auto-flow: row;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 1000px) {
  .nav {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.title {
  grid-area: title;
  margin: 0;
  padding: 0;
  height: 2.5rem;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.nav {
  display: grid;
  grid-area: links;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  width: 100%;
  height: auto;
}

.header {
  height: auto;
  width: 100%;
  display: grid;
  top:0;
  right: 0;
  left: 0;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'title'
  'links';
  border-bottom: 0.125rem solid #B4AEE8;
}

.link {
  text-align: center;
  color: white;
  text-decoration: none;
  height: 100%;
  display: grid;
  align-items: center;
  width: 100%;
  margin-right: 1rem;
}

.link:hover {
  border-bottom: 0.188rem solid #B4AEE8;
  font-weight: 800;
}

.linkActive {
  border-bottom: 0.188rem solid #B4AEE8;
  font-weight: 800;
}
