.header {
  height: auto;
  width: 80vw;
  display: grid;
  top:0;
  right: 0;
  left: 0;
  position: sticky;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  'title'
  'links';
  border-bottom: 2px solid #B4AEE8;
}

.nav {
  display: grid;
  grid-area: links;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.title {
  grid-area: title;
  margin: 0;
  padding: 0;
  height: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.link {
  text-align: center;
  color: white;
  text-decoration: none;
  height: 100%;
  display: grid;
  align-items: center;
}

.link:hover {
  border-bottom: 3px solid #B4AEE8;
  font-weight: 800;
}

.linkActive {
  border-bottom: 3px solid #B4AEE8;
  font-weight: 800;
}