.title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 500;
}

.subTitle {
  text-align: center;
  font-size: 1.563rem;
  font-weight: 500;
}

.introSection {
  margin-bottom: 3rem;
}

.contactLinks {
  font-size: 2rem;
  width: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.contactLink {
  margin: 1rem;
}

.contactLinkIcon {
  color: white;
}

.contactSection {
  display: grid;
}