.footer {
  width: 100vw;
  min-height: 5vh;
  max-height: 5vh;
  text-align: center;
  position: absolute;
  bottom: 0;
  align-content: center;
  align-items: center;
  display: grid;
}

.footerText {
  margin: 0;
  padding: 0;
  color: red;
}